body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color: #3b3b3b;
}

h1 {
    background-color: #5c5c5c;
    color: #dbdbdb;
    padding: 20px;
    text-align: left;
}

form {
    background-color: #a8a8a8;
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
    width: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input,textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}
input[type="reset"] {
    width: 5%;
    text-align: center;
    background-color: #616161;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin: 0px;
}

input[type="file"] {
    width: 90%;
    border-radius: 8px;
}

button {
    font-family: "Roboto", sans-serif;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px;
    margin-top: 10px;
}

button[type="submit"] {
    margin-top: 10px;
}

#listButton {
    margin-left: 30px;
}

#searchButton {
    margin-left: 30px;
}

#searchTags {
    margin-left: 30px;
    width: auto;
}

label[for="searchTags"] {
    margin-left: 30px;
    margin-bottom: 1px;
    color: #ffffff;
}

#output {
    font-family: 'Roboto', sans-serif;
    width: auto;
    margin: 30px;
    padding: 30px;
    background-color: #a8a8a8;
    border-radius: 8px;
}

.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}

.button-container button {
    /* Add styling as desired */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
